<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mycompany.mappers.EquipoMapper">
     <resultMap type='com.mycompany.electroeci.Equipo' id='EquipoResult'>
        <id property='placa' column='Placa'/>   
        <result property='serial' column='Seria'/>
         <result property='tipomodel' column='Tipo_Equipo_Modelo'/>
         <result property='precio' column='Precio'/>
            <result property='observaciones' column='Observaciones'/>
               <result property='estado' column='Estado'/>
                <result property='pres_sol' column='prestamo_solicitud_id'/>
         <!-- <association property='suscriptor' resultMap='SuscriptorResult' columnPrefix='sus_'></association>-->
    </resultMap> 

<insert id="insertEquipo" parameterType="map">
    INSERT INTO Equipo (Placa,Seria,Modelo,Observaciones,Estado) values(#{equipo.placa},#{equipo.serial},#{equipo.tipo_model},#{equipo.observaciones},#{equipo.estado})   
</insert>
<select id="loadeqByid" resultMap="EquipoResult">
    SELECT * FROM Equipo eq WHERE eq.Placa = #{plac}
</select>
<select  id="selectAll" resultType="map">
    SELECT * FROM Equipo
</select>
 </mapper>   