<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.pdsw.g4.persistencia.mybatis.mappers.EquipoMapper">
    
    <resultMap type='edu.eci.pdsw.g4.logica.estructura.TipoEquipo' id='TipoEQuipoResult'>
      <id property ='modelo' column ='Modelo'/>
      <result property='nombre_equipo' column='nombre_Equipo'/>  
      <result property="marca" column="marca"/>
      <result property='url_img' column='imagen'/>  
      <result property='vida_util' column='vida_util'/>     
      <result property='precio' column='precio'/>
      <collection property='equipos' ofType='Equipo' resultMap="EquipoResult" columnPrefix="equipo_"></collection>
      
    </resultMap>
    
     <resultMap type='edu.eci.pdsw.g4.logica.estructura.Equipo' id='EquipoResult'>
        <id property='placa' column='Placa'/>   
        <result property='serial' column='Serial'/>
        <result property='tipo_model' column='Modelo'/>
        <result property='observaciones' column='Observaciones'/>
        <result property='estado' column='Estado'/>
        
                
         <!-- <association property='suscriptor' resultMap='SuscriptorResult' columnPrefix='sus_'></association>-->
    </resultMap> 
    
    

    <insert id="insertTipo_equipo" parameterType="map">
       INSERT INTO Tipo_Equipo(Modelo,nombre_Equipo,imagen,marca,vida_util,precio) values (#{tipo_eq.modelo},#{tipo_eq.nombre_equipo},#{tipo_eq.url_img},#{tipo_eq.marca},#{tipo_eq.vida_util},#{tipo_eq.precio})
    </insert>
<insert id="insertEquipo" parameterType="map">
    INSERT INTO Equipo (Placa,Serial,Modelo,Observaciones,Estado) values(#{equipo.placa},#{equipo.serial},#{equipo.tipo_model},#{equipo.observaciones},#{equipo.estado})   
</insert>
<select id="loadeqByid" resultMap="EquipoResult">
    SELECT * FROM Equipo eq WHERE eq.Placa = #{plac}
</select>
<select  id="selectAll" resultMap="EquipoResult">
    SELECT * FROM Equipo
</select>
<select  id="selectAlltipoeq" resultMap="TipoEQuipoResult">
    SELECT * FROM Tipo_Equipo
</select>
<select id="tiempoDeVidaDeUnEquipo" resultType="float">
    SELECT  HOUR(SEC_TO_TIME(SUM(TIMESTAMPDIFF(SECOND,hora_entrega,hora_devolucion))))+(MINUTE(SEC_TO_TIME(SUM(TIMESTAMPDIFF(SECOND,hora_entrega,hora_devolucion))))/60) Horas_Uso
FROM prestamo_solicitud,Detalle_Prestamo,Equipo,Tipo_Equipo WHERE  prestamo_solicitud.prestamo_Id = Detalle_Prestamo.id AND Detalle_Prestamo.Equipo_Placa = Equipo.Placa AND Tipo_Equipo.Modelo = Equipo.Modelo AND Equipo.Placa=#{plac}
</select>
<select  id="reporte" resultMap="TipoEQuipoResult">
    SELECT Tipo_Equipo.imagen, Tipo_Equipo.nombre_Equipo, Equipo.Serial as equipo_Serial, Equipo.Estado as equipo_Estado, Tipo_Equipo.vida_util,HOUR(SEC_TO_TIME(SUM(TIMESTAMPDIFF(SECOND,hora_entrega,hora_devolucion))))+(MINUTE(SEC_TO_TIME(SUM(TIMESTAMPDIFF(SECOND,hora_entrega,hora_devolucion))))/60) Horas_Uso
FROM prestamo_solicitud,Detalle_Prestamo,Equipo,Tipo_Equipo WHERE  prestamo_solicitud.prestamo_Id = Detalle_Prestamo.id AND Detalle_Prestamo.Equipo_Placa = Equipo.Placa AND Tipo_Equipo.Modelo = Equipo.Modelo GROUP BY Equipo.Placa
ORDER By Horas_Uso
</select>

 </mapper>   